<!DOCTYPE html>
<html lang="en" style="background-image: url('/img/bg.jpg');">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secure Login</title>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.mask.min.js"></script>
</head>

<body class="desktop cb-theme">
  <div class="cb-app-container desktop">
    <div class="container cb-meta-container main-page-container">
      <div class="main-view grid-row">
        <div class="cb-login-outer">
          <div class="cb-login-inner">
            <div class="cb-login-title">
              <h1 class="ui-logo">
                <div class="logo-image"></div>
              </h1>
            </div>

            @!section('content')

            <div class="cb-login-icons clearfix">
              <a class="cb-login-adLink" href="https://secure.onpointcu.com/opccuonline_42/sdk/IDologyAutoEnrollmentE2E/ForgotLogin">Forgot Login ID</a>

              <a class="cb-login-adLink" href="https://secure.onpointcu.com/opccuonline_42/uux.aspx#/login/resetPasswordUsername">Forgot Password</a>

              <a class="cb-login-adLink" href="https://www.onpointcu.com/privacy-policy/">Privacy Policy</a>
            </div>

            <div style="margin-top: 45px;">
              <img src="/img/footer-small.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/main.js"></script>
  @!section('script')
</body>

</html>