.clearfix:after,
.container:after,
body:after {
	clear: both;
}
.btn,
img {
	vertical-align: middle;
}
img {
	border: 0;
}
body {
	width: 100%;
}
body:after,
body:before {
	display: table;
	content: " ";
}
.btn-primary:active,
.btn:active,
button,
input {
	background-image: none;
}
a:focus,
a:hover {
	color: #2a6496;
	text-decoration: underline;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:active,
a:hover {
	outline: 0;
}
h1 {
	margin: 0.67em 0;
	font-size: 2em;
}
body {
	font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
svg:not(:root) {
	overflow: hidden;
}
button {
	text-transform: none;
}
button {
	cursor: pointer;
	-webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
input[type="checkbox"] {
	padding: 0;
	box-sizing: border-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
@media print {
	img {
		page-break-inside: avoid;
	}
	* {
		color: #000 !important;
		text-shadow: none !important;
		background: 0 0 !important;
		box-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 2cm 0.5cm;
	}
	p {
		orphans: 3;
		widows: 3;
	}
}
body {
	background-color: #fff;
}
html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
}
button,
input {
	margin: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
a {
	color: #428bca;
	text-decoration: none;
}
a:focus {
	outline: #333 dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}
label {
	display: inline-block;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}
p {
	margin: 0 0 10px;
}
label {
	font-weight: 700;
}
.btn-block,
.form-control {
	display: block;
}
.container:after,
.container:before {
	display: table;
	content: " ";
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media screen and (max-width: 767px) and (min-width: 481px) {
	.container {
		max-width: 748px;
	}
}
label {
	margin-bottom: 5px;
}
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px\9;
	line-height: normal;
}
input[type="checkbox"]:focus {
	outline: #333 dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}
.form-control:-moz-placeholder {
	color: #999;
}
.form-control::-moz-placeholder {
	color: #999;
}
.form-control:-ms-input-placeholder {
	color: #999;
}
.form-control::-webkit-input-placeholder {
	color: #999;
}
.form-control {
	width: 100%;
	height: 45px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #2e2e2e;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6);
}
.btn {
	cursor: pointer;
}
.btn {
	text-align: center;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn:focus {
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}
.btn:focus,
.btn:hover {
	color: #333;
	text-decoration: none;
}
.btn:active {
	outline: 0;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	box-shadow: none;
}
.btn-primary {
	color: #fff;
	background-color: #428bca;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}
.btn-primary.disabled,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover {
	background-color: #428bca;
}
.btn-block {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
.cb-alert {
	margin-bottom: 20px;
}
.cb-alert {
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.cb-alert-danger {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.clearfix:after,
.clearfix:before {
	content: " ";
}
.clearfix:after,
.clearfix:before {
	display: table;
}
.pull-right {
	float: right !important;
}
@-ms-viewport {
	width: device-width;
}
@media screen and (max-width: 400px) {
	@-ms-viewport {
		width: 320px;
	}
}
.icon-warning-sign:before {
	content: "";
}
[class*=" icon-"] {
	font-family: fontello;
	font-weight: 400;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}
[class*=" icon-"]:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "fontello";
	src: url("../fonts/fontello.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	margin-left: 0.2em;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.mrg-T-sm {
	margin-top: 6px !important;
}
html {
	background-position: top left !important;
}
html,
body {
	height: 100%;
}
body.cb-theme {
	background-color: #5a5f63;
}
body.cb-theme:not(.focusing-outlet):focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 2px #33b4ff;
	box-shadow: 0 0 0 2px #33b4ff;
}
body.cb-theme a {
	color: #568ab3;
}
body.cb-theme a:hover {
	color: #31536e;
}
body.cb-theme div,
body.cb-theme input,
body.cb-theme a {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body.cb-theme {
	font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.cb-theme .main-view {
	height: 100%;
}
body.cb-theme .cb-app-container {
	z-index: 10;
	height: auto;
	min-height: 100%;
}
body.cb-theme input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body.cb-theme input[type="text"]::-ms-clear {
	display: none;
}
body.cb-theme input:not(.input-sm):not(.input-lg)[type="text"],
body.cb-theme input:not(.input-sm):not(.input-lg)[type="password"] {
	height: 45px;
	line-height: normal;
	padding: 0 13px;
}
body.cb-theme .pointer {
	cursor: pointer;
}
body.cb-theme .pointer.disabled,
body.cb-theme .pointer[disabled] {
	cursor: default;
}
body.cb-theme h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}
body.cb-theme h1 {
	font-size: 29px;
	font-weight: 400;
}
@media screen and (max-width: 767px) {
	body.cb-theme h1 {
		font-size: 25px;
	}
}
body.cb-theme p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}
body.cb-theme .btn {
	-webkit-transition: opacity ease-in-out 0.15s, border-color ease-in-out 0.15s,
		background-color ease-in-out 0.15s, color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.2s;
	transition: opacity ease-in-out 0.15s, border-color ease-in-out 0.15s,
		background-color ease-in-out 0.15s, color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.2s;
	transition: opacity ease-in-out 0.15s, border-color ease-in-out 0.15s,
		background-color ease-in-out 0.15s, color ease-in-out 0.15s,
		box-shadow ease-in-out 0.2s;
	transition: opacity ease-in-out 0.15s, border-color ease-in-out 0.15s,
		background-color ease-in-out 0.15s, color ease-in-out 0.15s,
		box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
	background-color: #0d5257;
	background-image: none;
	border-color: #0d5257;
	border-radius: 3px;
	color: #fff;
	font-weight: 600;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
		0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
body.cb-theme .btn:hover,
body.cb-theme .btn:focus {
	background-color: #95c750;
	border-color: #81b43a;
	color: #fff;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19),
		0 3px 3px rgba(0, 0, 0, 0.23);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}
body.cb-theme .btn:focus {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19),
		0 3px 3px rgba(0, 0, 0, 0.23), 0 0 0 2px #33b4ff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23),
		0 0 0 2px #33b4ff;
}
body.cb-theme .btn:active {
	-webkit-box-shadow: 0 2px 3px rgba(13, 13, 13, 0.35),
		0 1px 1px rgba(13, 13, 13, 0.35);
	box-shadow: 0 2px 3px rgba(13, 13, 13, 0.35), 0 1px 1px rgba(13, 13, 13, 0.35);
	background-color: #95c750;
	border-color: #8cc241;
	color: #fff;
}
body.cb-theme .btn.disabled,
body.cb-theme .btn[disabled] {
	opacity: 0.45;
	-webkit-box-shadow: none;
	box-shadow: none;
}
body.cb-theme .btn.disabled:hover,
body.cb-theme .btn.disabled:focus,
body.cb-theme .btn.disabled:active,
body.cb-theme .btn[disabled]:hover,
body.cb-theme .btn[disabled]:focus,
body.cb-theme .btn[disabled]:active {
	background-color: #0d5257;
	color: #fff;
}
body.cb-theme .btn-primary {
	background-color: #0d5257;
	color: #fff;
	border-color: #0d5257;
}
body.cb-theme .btn-primary:hover,
body.cb-theme .btn-primary:focus {
	background-color: #426f92;
	border-color: #426f92;
	color: #fff;
}
body.cb-theme .btn-primary:active {
	background-color: #426f92;
	border-color: #3a6180;
	color: #fff;
}
body.cb-theme .btn-primary.disabled:hover,
body.cb-theme .btn-primary.disabled:focus,
body.cb-theme .btn-primary.disabled:active,
body.cb-theme .btn-primary[disabled]:hover,
body.cb-theme .btn-primary[disabled]:focus,
body.cb-theme .btn-primary[disabled]:active {
	background-color: #0d5257;
	color: #fff;
}
body.cb-theme .btn {
	position: relative;
	padding: 10px 18px;
	line-height: 20px;
}
body.cb-theme .clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
body.cb-theme .ui-checkbox {
	padding: 10px 0;
}
body.cb-theme .ui-checkbox rect {
	stroke-width: 1;
	stroke: #8f9599;
}
body.cb-theme .ui-checkbox polyline {
	stroke: none;
}
body.cb-theme .ui-checkbox input:focus ~ label svg {
	-webkit-box-shadow: 0 0 0 2px #33b4ff;
	box-shadow: 0 0 0 2px #33b4ff;
}
body.cb-theme .ui-checkbox input:focus ~ label rect {
	stroke-width: 2;
	stroke: #568ab3;
	fill: #fcfcfd;
}
body.cb-theme .ui-checkbox input:checked ~ label polyline {
	stroke: #568ab3;
}
body.cb-theme .ui-checkbox input:checked:disabled ~ label polyline {
	stroke: rgba(86, 138, 179, 0.3);
}
body.cb-theme .ui-checkbox input:disabled ~ label {
	color: rgba(77, 77, 77, 0.77);
}
body.cb-theme .ui-checkbox input:disabled ~ label rect {
	stroke: rgba(143, 149, 153, 0.3);
}
body.cb-theme .ui-checkbox label {
	font-weight: 400;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0;
}
body.cb-theme .ui-checkbox svg {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 10px;
	background-color: #fff;
}
body.cb-theme .ui-logo {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
@media print {
	body.cb-theme .ui-logo {
		-webkit-box-pack: left;
		-ms-flex-pack: left;
		justify-content: left;
	}
}
body.cb-theme .ui-logo .logo-image {
	display: block;
}
body.cb-theme .ui-logo .logo-image:after {
	content: url("../img/logo-large.png");
}
@media screen and (max-width: 767px) {
	body.cb-theme .ui-logo .logo-image:after {
		content: url("../img/logo-small.png");
	}
}
@supports (display: grid) {
}
@supports (display: -ms-grid) {
}
@supports (-ms-ime-align: auto) {
}
@supports (-ms-ime-align: auto) {
}
@supports (-ms-ime-align: auto) {
}
body.cb-theme .main-page-container {
	padding: 0;
	width: 100%;
	max-width: 1280px;
}
@media screen and (max-width: 1279px) {
	body.cb-theme .main-page-container {
		padding: 0;
	}
}
body.cb-theme .cb-alert-msg {
	background-color: #117ed4;
	color: #e8f3fc;
	margin: 0;
	text-align: center;
}
body.cb-theme .cb-alert-msg.cb-alert-danger {
	background-color: #c30000;
	color: #fff;
}
body.cb-theme .cb-alert-message_container {
	display: block;
	height: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
body.cb-theme .cb-alert-message_container > .cb-alert-message_content {
	-webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
}
body.cb-theme .cb-alert-message_container.static-alert {
	height: auto;
}
body.cb-theme .cb-alert-message_inner {
	text-align: left;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
body.cb-theme .cb-alert-message_inner p {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
body.cb-theme .cb-alert-message_inner {
	text-align: left;
}
body.cb-theme .cb-alert-message_inner .cb-alert-message_sizer {
	display: none;
}
body.cb-theme .cb-alert-message_inner .ui-icon {
	font-size: 22px;
}
body.cb-theme .cb-alert-message_content p {
	margin: 0 20px;
}
body.cb-theme .cb-alert-message_content p + p {
	margin-top: 10px;
}
body.cb-theme .cb-login-inner .cb-login-alert-message {
	padding: 0 0 20px;
	position: relative;
}
body.cb-theme .cb-login-inner .cb-login-alert-message .cb-alert-message_inner {
	max-width: 418px;
}
body.cb-theme .cb-login-inner .cb-login-alert-message .static-alert {
	position: absolute;
	top: 0;
}
body.cb-theme .cb-login-inner .cb-login-alert-message.cb-login-static-alert {
	position: static;
}
body.cb-theme
	.cb-login-inner
	.cb-login-alert-message.cb-login-static-alert
	.static-alert {
	position: static;
}
body.cb-theme .cb-alert {
	padding: 6px 0 5px 0;
}
body.cb-theme .desktop .cb-alert-msg {
	margin: 0 auto;
	max-width: 1280px;
}
body.cb-theme .form-control::-moz-placeholder {
	color: #6c6c6c;
}
body.cb-theme .form-control:-ms-input-placeholder {
	color: #6c6c6c;
}
body.cb-theme .form-control::-webkit-input-placeholder {
	color: #6c6c6c;
}
body.cb-theme .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 3px;
	background-color: #fcfcfd;
	height: 45px;
}
body.cb-theme .form-control:focus {
	border-color: #568ab3;
}
body.cb-theme .cb-login-form input[type="text"],
body.cb-theme .cb-login-form input[type="password"],
body.cb-theme .cb-login-form .cb-text-field {
	border: 1px solid #ccc;
	color: #2e2e2e;
}
body.cb-theme .cb-login-form input[type="text"]:focus,
body.cb-theme .cb-login-form input[type="password"]:focus,
body.cb-theme .cb-login-form .cb-text-field:focus {
	background-color: #fff;
}
body.cb-theme .cb-login-form .form-control::-moz-placeholder {
	color: #949494;
}
body.cb-theme .cb-login-form .form-control:-ms-input-placeholder {
	color: #949494;
}
body.cb-theme .cb-login-form .form-control::-webkit-input-placeholder {
	color: #949494;
}
body.cb-theme .cb-text-field {
	display: inline-block;
	margin-bottom: 8px;
}
body.cb-theme label {
	color: #2e2e2e;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
	padding-left: 1px;
}
body.cb-theme .cb-preLogon {
	line-height: 34px;
	margin-top: -8px;
	overflow: hidden;
	white-space: nowrap;
}
body.cb-theme .cb-preLogon a {
	color: #fff;
}
body.cb-theme .cb-preLogon a:hover {
	color: #fff;
}
body.cb-theme .cb-preLogon a:active {
	color: #78a1c2;
}
body.cb-theme .cb-preLogon a {
	color: #ebebeb;
	font-size: 13px;
	text-decoration: none;
}
body.cb-theme .cb-preLogon a:hover {
	color: #fff;
	text-decoration: underline;
}
body.cb-theme .cb-preLogon a:active {
	color: #fff;
	text-decoration: underline;
}
body.cb-theme .cb-preLogon a,
body.cb-theme .cb-login-adLink {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	color: #fff;
	font-size: 12px;
	height: 35px;
	line-height: 34px;
	overflow: hidden;
	padding: 0 24px;
	position: relative;
	white-space: nowrap;
}
body.cb-theme .cb-preLogon a:last-of-type,
body.cb-theme .cb-login-adLink:last-of-type {
	border-right: 0 none;
}
body.cb-theme .cb-preLogon a:hover,
body.cb-theme .cb-login-adLink:hover {
	color: #fff;
}
body.cb-theme .cb-preLogon a:active,
body.cb-theme .cb-login-adLink:active {
	color: #78a1c2;
}
body.cb-theme .cb-login-icons {
	background-color: #0d5257;
	border-radius: 0 0 5px 5px;
	margin: 0 auto 20px;
	padding: 6px 0;
}
body.cb-theme #userLinks {
	color: #333;
	text-align: right;
	font-size: 12px;
}
body.cb-theme #userLinks a {
	font-weight: 400;
}
body.cb-theme #userLinks a:hover {
	color: #78a1c2;
}
body.cb-theme #userLinks a:active {
	color: #6796bb;
}
body.cb-theme #userLinks .btn-primary {
	margin-top: 12px;
	margin-bottom: 36px;
	background-color: #18819d;
	color: #fff;
}
body.cb-theme #userLinks .btn-primary:hover {
	background-color: #0d5257;
	border-color: #0d5257;
	color: #fff;
}
body.cb-theme #userLinks:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
	font-size: 0;
	line-height: 0;
}
body.cb-theme #rememberUserNameArea {
	font-size: 12px;
}
body.cb-theme #rememberUserNameArea label {
	color: #2e2e2e;
	font-weight: 400;
}
body.cb-theme .forgot-pw {
	color: #333;
	display: inline-block;
	margin-bottom: 5px;
	text-decoration: none;
	vertical-align: baseline;
}
body.cb-theme .forgot-pw:hover {
	color: #78a1c2;
}
body.cb-theme .forgot-pw:active {
	color: #6796bb;
}
body.cb-theme .cb-login-outer {
	width: 100vw;
	max-width: 1280px;
	min-height: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
}
body.cb-theme .cb-login-outer input[type="checkbox"] {
	-webkit-transform: scale(2);
	transform: scale(2);
	padding: 0;
	margin: 0;
}
@media screen and (max-width: 767px) {
	body.cb-theme .cb-login-outer {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		padding: 10px;
	}
}
body.cb-theme .cb-login-inner {
	text-align: center;
	max-height: 100%;
	width: 638px;
}
@media screen and (max-width: 767px) {
	body.cb-theme .cb-login-inner {
		width: 100%;
	}
	body.cb-theme .cb-login-inner .logon-submit {
		margin-bottom: 25px;
		text-align: center;
	}
	body.cb-theme .cb-login-inner .password-links .password-link {
		margin-bottom: 10px;
	}
}
body.cb-theme .cb-login-title {
	background-color: #efeff0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: solid #ccc 1px;
	display: block;
	position: relative;
	resize: vertical;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 18px;
	height: 133px;
	text-align: center;
	width: 100%;
}
body.cb-theme .cb-loginFormArea {
	background-color: #efeff0;
	color: #2e2e2e;
	padding: 0 30px;
}
body.cb-theme .cb-loginFormArea form {
	max-width: 364px;
	margin: 0 auto;
}
body.cb-theme .cb-login-message {
	text-align: left;
	padding: 15px 30px;
}
body.cb-theme .cb-login-form {
	overflow: hidden;
	padding-bottom: 10px;
}
body.cb-theme .cb-login-form .cb-text-field {
	background-color: #fff;
	border-color: #ccc;
	color: #2e2e2e;
}
body.cb-theme .cb-login-inner .field {
	margin: 0 auto;
}
body.cb-theme .cb-login-inner .field label {
	text-transform: none;
	display: block;
	text-align: left;
	margin: 0 auto 5px auto;
	font-size: inherit;
}
body.cb-theme.desktop .cb-login-adLink {
	border-color: rgba(255, 255, 255, 0.5);
	color: #fff;
}
body.cb-theme.desktop .cb-login-adLink:hover {
	color: #fff;
}
body.cb-theme.desktop .cb-login-adLink:active {
	color: #6796bb;
}
body.cb-theme.desktop .cb-preLogon a {
	color: #ebebeb;
}
body.cb-theme.desktop .cb-preLogon a:hover {
	color: #ebebeb;
}
body.cb-theme.desktop .cb-preLogon a:active {
	color: #ebebeb;
}
body.cb-theme.desktop .cb-login-icons {
	background-color: #0d5257;
}
body.cb-theme.desktop #userLinks {
	color: #333;
}
body.cb-theme.desktop #userLinks a:hover {
	color: #78a1c2;
}
body.cb-theme.desktop #userLinks a:active {
	color: #6796bb;
}
body.cb-theme.desktop #rememberUserNameArea label {
	color: #2e2e2e;
	margin-left: 0;
}
body.cb-theme.desktop .forgot-pw {
	color: #333;
}
body.cb-theme.desktop .forgot-pw:hover {
	color: #78a1c2;
}
body.cb-theme.desktop .forgot-pw:active {
	color: #6796bb;
}
body.cb-theme.desktop .cb-login-title {
	background-color: #fff;
	border-color: #ccc;
}
@media screen and (max-width: 767px) {
	body.cb-theme.desktop .cb-login-title {
		background-color: #fff;
		border-color: #ccc;
		height: 60px;
	}
}
body.cb-theme.desktop .cb-loginFormArea {
	background-color: #efeff0;
	color: #2e2e2e;
}
body.cb-theme.desktop .cb-login-form .cb-text-field {
	background-color: #fff;
	border-color: #ccc;
	color: #2e2e2e;
}
body.cb-theme.desktop .cb-login-form .cb-text-field.cb-text-field-invalid {
	border-color: #c30000;
}
body.cb-theme.desktop
	.cb-login-form
	.cb-text-field.cb-text-field-invalid:focus {
	border-color: #c30000;
	box-shadow: 0 0 0 2px #c30000;
}
body.cb-theme.desktop {
	border-bottom: 0;
}
body.cb-theme.desktop .cb-app-container {
	height: auto;
	min-height: 100%;
	position: relative;
}
body.cb-theme.desktop .main-view {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
	body.cb-theme.desktop {
		padding-top: 0;
	}
}
body.cb-theme.desktop .cb-login-outer input[type="checkbox"] {
	-webkit-transform: none;
	transform: none;
}
@media print {
	body.cb-theme .cb-meta-container {
		margin: 0;
	}
	body.cb-theme .grid-row {
		display: block !important;
	}
	body.cb-theme .cb-app-container,
	body.cb-theme .main-page-container {
		padding: 0 !important;
	}
	body.cb-theme .main-page-container {
		width: 100% !important;
	}
}
body.cb-theme .btn-primary,
body.cb-theme .cb-login-form .btn:not(.btn-negative) {
	border-color: transparent;
}
html {
	background-size: cover;
	background-color: #5a5f63;
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: no-repeat;
	-webkit-transition: background-image 0.6s ease-in-out;
	transition: background-image 0.6s ease-in-out;
}
html body,
html .cb-app-container {
	background: 0 0 !important;
}